.footer-link div h5 {
  color: rgb(122, 212, 156);
}

.footer-link div a {
  text-decoration: none;
  color: rgb(115, 255, 255);
}

.footer-link div a:hover {
  color: lightgray;
}

.social-icon i {
  color: rgb(79, 173, 173);
}

.social-icon i:hover {
  color: lightgray;
}
